header,
footer {
  background-color: #eee;
  padding: 5px;
  min-height: 60px;
}

header img,
list-group img {
  height: 50px;
  margin-right: 10px;
}

header img {
  margin-left: 16px;
}

main {
  background-color: #e5ddd5;
  min-height: calc(100vh - 121px);
}

header {
  border-bottom: #dbdbdb 5px solid;
}

.timeago {
  color: #999;
  font-size: 0.8rem;
}

.badge-success {
  background-color: red;
}
